/* 기본 스타일 */
.card-album, .list-group-item {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn-primary {
    background-color: #1DB954;
    border-color: #1DB954;
}

.btn-primary:hover {
    background-color: #1ED760;
    border-color: #1ED760;
}

/* 라이트 모드 스타일 */
[data-bs-theme="light"] .card-album:hover,
[data-bs-theme="light"] .list-group-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

[data-bs-theme="light"] .navbar-dark .navbar-brand {
    font-weight: bold;
    color: #1DB954; /* Spotify Green */
}

/* 다크 모드 스타일 */
[data-bs-theme="dark"] .card-album:hover,
[data-bs-theme="dark"] .list-group-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* 더 어두운 그림자 */
}

[data-bs-theme="dark"] .navbar-dark .navbar-brand {
    font-weight: bold;
    color: #1ED760; /* 더 밝은 Spotify Green */
}
