<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Login</h1>
    <div th:if="${success}" style="color: green;" th:text="${success}"></div>
    <div th:if="${param.error}" style="color: red;">
        Invalid username or password.
    </div>
    <div th:if="${param.logout}" style="color: green;">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
    <p>Don't have an account? <a th:href="@{/signup}">Sign up here</a></p>
</body>
</html>
