<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playlist.myplaylist.mapper.PlaylistTrackMapper">

    <resultMap id="playlistTrackResultMap" type="com.playlist.myplaylist.model.PlaylistTrack">
        <id property="id" column="id"/>
        <result property="playlistId" column="playlist_id"/>
        <result property="trackId" column="track_id"/>
        <result property="trackName" column="track_name"/>
        <result property="artistName" column="artist_name"/>
        <result property="previewUrl" column="preview_url"/>
        <result property="imageUrl" column="image_url"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertPlaylistTrack" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO playlist_tracks (playlist_id, track_id, track_name, artist_name, preview_url, image_url)
        VALUES (#{playlistId}, #{trackId}, #{trackName}, #{artistName}, #{previewUrl}, #{imageUrl})
    </insert>

</mapper>
