<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playlist.myplaylist.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.playlist.myplaylist.model.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="spotifyUserId" column="spotify_user_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="spotifyAccessToken" column="spotify_access_token"/>
        <result property="spotifyRefreshToken" column="spotify_refresh_token"/>
    </resultMap>

    <select id="findBySpotifyUserId" resultMap="userResultMap">
        SELECT *
        FROM users
        WHERE spotify_user_id = #{spotifyUserId}
    </select>

    <select id="findByUsername" resultMap="userResultMap">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, email, spotify_user_id)
        VALUES (#{username}, #{email}, #{spotifyUserId})
    </insert>

    <update id="updateSpotifyTokens">
        UPDATE users
        SET
            spotify_access_token = #{spotifyAccessToken},
            spotify_refresh_token = #{spotifyRefreshToken}
        WHERE id = #{id}
    </update>

</mapper>
